
{% extends 'partials/base.html'%}
{%load static%}
 

{% block content %}
    
<main class="main pages">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Inicio</a>
                <span></span> Pagina <span></span> Mi cuenta
            </div>
        </div>
    </div>
    <div class="page-content pt-150 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-10 col-md-12 m-auto">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="login_wrap widget-taber-content background-white">
                                <div class="padding_eight_all bg-white">
                                    {% if form.errors%}
                                    <div class="alert alert-danger">
                                        {{form.errors}}
                                    </div>
                                    {%endif%}
                                    <div class="heading_s1">
                                        <h1 class="mb-5">Crea una cuenta</h1>
                                        <p class="mb-30">Ya tiene una cuenta? <a href="{% url 'userauths:login' %}">Login</a></p>
                                    </div>
                                    <form method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="{{ form.username.id_for_label }}">Nombre de usuario</label>
                                            {{ form.username }}
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ form.email.id_for_label }}">Correo electrónico</label>
                                            {{ form.email }}
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ form.password1.id_for_label }}">Contraseña</label>
                                            {{ form.password1 }}
                                        </div>
                                        <div class="form-group">
                                            <label for="{{ form.password2.id_for_label }}">Confirmar contraseña</label>
                                            {{ form.password2 }}
                                        </div>
                                        <div class="form-group mb-30">
                                            <button type="submit" class="btn btn-fill-out btn-block hover-up font-weight-bold" name="login">Registrarme</button>
                                        </div>
                                        <p class="font-xs text-muted"><strong>Nota:</strong> Tus datos personales se utilizarán para apoyar tu experiencia en este sitio web, para gestionar el acceso a tu cuenta y para otros fines descritos en nuestra política de privacidad.</p>
                                    </form>
                                    
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 pr-30 d-none d-lg-block">
                            <div class="card-login mt-115">
                                <a href="#" class="social-login facebook-login">
                                    <img src="{% static 'assets/imgs/theme/icons/logo-facebook.svg' %}" alt="" />
                                    <span>Continue con Facebook</span>
                                </a>
                                <a href="#" class="social-login google-login">
                                    <img src="{% static 'assets/imgs/theme/icons/logo-google.png' %}" alt="" />
                                    <span>Continue con Google</span>
                                </a>
                                <a href="#" class="social-login apple-login">
                                    <img src="{% static 'assets/imgs/theme/icons/logo-apple.png' %}" alt="" />
                                    <span>Continue con Apple</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock content %}