{% extends 'partials/base.html'%}
{%load static%}
{% block content %}

<h2>Carrito de Compras</h2>
<table>
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart.items.all %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.get_total_price }}</td>
            <td>
                <a href="{% url 'remove_from_cart' item.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h3>Total: {{ cart.get_total_price }}</h3>
{% endblock content %}